
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>兜兜小铺</title>
	 <link rel="stylesheet" href="css/base.css">
	<link rel="stylesheet" href="css/index.css">
</head>
<body>
	<!-- header开始 -->
	<header>
		<div class="he-toolbar">
				<div class="w wrapper">
					<div class="he-toolbar-left fl">
						<div class="nav-box fl">
							<a href="javascript:;" class="he-bar-node nav-box-a">
								<span>网站导航</span>
								<em class="fa fa-angle-down" id="nav-box-em"></em>
							</a>
							<div></div>
						</div>
						<div class="msg-box fl">
						<a href="javascript:;" class="he-bar-node">
							<span>消息</span>
							<em class="fa fa-angle-down" id="nav-box-em"></em>
							<sapn class="nav-box-em glyphicon glyphicon-menu-down"></span>
							</a>
						</div>
							
					</div>
					<div class="he-toolbar-right fr">
						<!-- 登录注册 -->
						<div class="he-bar-node he-toolbar-login fl">
							<a href="">登录</a>
							<a href="">注册</a>
						</div>
						<!-- 我的订单 -->
						<div class="he-bar-node-box fl">
							<a href="" class="he-bar-node he-bar-node-fix">
								<span>我的订单</span>
								<em class="fa fa-angle-down" id="nav-box-em"></em>
							</a>
						</div>
						<!-- 我的兜兜 -->
						<div class="mydoudou fl">
							<a href="" class="he-bar-node he-bar-node-fix">
								<span>我的兜兜</span>
								<em class="fa fa-angle-down" id="nav-box-em"></em>
							</a>
						</div>
						<!-- 购物车 -->
						<a href="" class="he-bar-node cart fl">
							<em class="fa fa-shopping-cart"></em>
							<span>购物车</span>
							<span class="cart-box">
								<b class="cart-num">0</b>
								<span>
									<em></em>
									<i></i>
								</span>
							</span>
						</a>
						<!-- 手机兜兜 -->
						<a href="" class="he-bar-node mb-DDShop fl">
							<em class="fa fa-mobile" id="nav-box-em"></em>
							<span>手机兜兜</span>							
						</a>
						<!-- 支付宝 -->
						<a href="" class="he-bar-node mb-DDShop fl">
							<span>支付宝</span>
						</a>
					</div>
				</div>
		</div>
		<div class="he-header">
			<div class="he-header-con w">
				<div class="he-header-box">
					<a href="" class="logo-set"><img src="images/123.png" alt=""></a>
					<a href="" class="logo-gif"><img src="images/header-box.gif" alt=""></a>
				</div>
				<div class="he-header-search">
					<div class="g-search">
						<i></i>
						<form action="">
							<div class="search-keyword-box">
								<input type="text" class="search-keyword">
							</div>
							<input type="text" class="search-btn" value="搜索">
							<div class="g-search-hotwords">
								<a href="">
									<span>大牌返场</span>	
								</a>
								<a href="">家电满千减百</a>
								<a href="">华为P9</a>
								<a href="">电风扇</a>
								<a href="">小家电5折起</a>
								<a href="">定金双倍用</a>
								<a href="">储存卡9.9元</a>
								<a href="">联想710s</a>
								<a href="">魅族PRO6</a>
							</div>
						</form>
						<!-- 这里还不全 -->
					</div>
				</div>
				<div class="he-header-active"></div>
			</div>
		</div>
		<div class="he-nav-bar">
			<div class="w">
				<div class="bar-sort">
					<a href="" class="sort-all-hook">
						<em></em>
						<span>全部商品分类</span>
						<b></b>
					</a>
					<div class="sort-list-box">
						<ul class="sort-list">
							<li>
								<em></em>
								<a href="">母婴</a>
								<a href="">玩具</a>
								<a href="">童装童鞋</a>
							</li>
							<li>
								<em></em>
								<a href="">母婴</a>
								<a href="">玩具</a>
								<a href="">童装童鞋</a>
							</li>
							<li>
								<em></em>
								<a href="">母婴</a>
								<a href="">玩具</a>
								<a href="">童装童鞋</a>
							</li>
							<li>
								<em></em>
								<a href="">母婴</a>
								<a href="">玩具</a>
								<a href="">童装童鞋</a>
							</li>
							<li>
								<em></em>
								<a href="">母婴</a>
								<a href="">玩具</a>
								<a href="">童装童鞋</a>
							</li>
							<li>
								<em></em>
								<a href="">母婴</a>
								<a href="">玩具</a>
								<a href="">童装童鞋</a>
							</li>
							<li>
								<em></em>
								<a href="">母婴</a>
								<a href="">玩具</a>
								<a href="">童装童鞋</a>
							</li>
							<li>
								<em></em>
								<a href="">母婴</a>
								<a href="">玩具</a>
								<a href="">童装童鞋</a>
							</li>
							<li>
								<em></em>
								<a href="">母婴</a>
								<a href="">玩具</a>
								<a href="">童装童鞋</a>
							</li>
							<li>
								<em></em>
								<a href="">母婴</a>
								<a href="">玩具</a>
								<a href="">童装童鞋</a>
							</li>
							<li>
								<em></em>
								<a href="">母婴</a>
								<a href="">玩具</a>
								<a href="">童装童鞋</a>
							</li>
							<li>
								<em></em>
								<a href="">母婴</a>
								<a href="">玩具</a>
								<a href="">童装童鞋</a>
							</li>
							<li>
								<em></em>
								<a href="">母婴</a>
								<a href="">玩具</a>
								<a href="">童装童鞋</a>
							</li>						
						</ul>
					</div>
				</div>
				<div class="bav-index">
					<ul>
						<li><a href="">兜兜会员</a></li>
						<li><a href="">服装城</a></li>
						<li><a href="">服装城</a></li>
						<li><a href="">服装城</a></li>
						<li><a href="">服装城</a></li>
						<li><a href="">服装城</a></li>
						<li><a href="">服装城</a></li>
						<li><a href="">服装城</a></li>
					</ul>
				</div>
			</div>
		</div>
	</header>
	<!-- header结束 -->
	<!-- 第一屏开始 -->
	<div class="first-screen">
		<div class="banner">
			<div class="arr">
				<a href="" class="banner-btn banner-pre"><</a>
				<a href="" class="banner-btn banner-next">></a>
			</div>		
			<div class="banner-pic ">
					<ul class="slider clearfix">
					
						
					</ul>
			</div>
			<ul class="banner-ctrl">
				<li class="ctrl00 first">
					<h4>精选</h4>
				</li>
				<li class="ctrl01">
					<h4>精选</h4>
				</li>
				<li class="ctrl02">
					<h4>精选</h4>
				</li>
				<li class="ctrl03">
					<h4>精选</h4>
				</li>
				<li class="ctrl04">
					<h4>精选</h4>
				</li>
				<li class="ctrl05">
					<h4>精选</h4>
				</li>
				<li class="ctrl06">
					<h4>精选</h4>
				</li>
				<li class="ctrl07">
					<h4>精选</h4>
				</li>
				<li class="ctrl08">
					<h4>精选</h4>
				</li>
				<li class="ctrl09">
					<h4>精选</h4>
				</li>
				<li class="ctrl10">
					<h4>精选</h4>
				</li>
			</ul>
		</div>
		<div class="show-case">
			<div class="box-all">
				<div class="title">
					<i></i>
					<em>公告</em>
					<a href="" class="more">更多</a>
				</div>
				<div class="notice">
					<ul class="list">
						<li class="hot">
							<a href="">
								<i>【促销】</i>
								<em>满千减百 最后一天</em>
							</a>
						</li>
						<li>
							<a href="">
								<i>【促销】</i>
								<em>满千减百 最后一天</em>
							</a>
						</li>
						<li>
							<a href="">
								<i>【促销】</i>
								<em>满千减百 最后一天</em>
							</a>
						</li>
						<li>
							<a href="">
								<i>【促销】</i>
								<em>满千减百 最后一天</em>
							</a>
						</li>
						<li>
							<a href="">
								<i>【促销】</i>
								<em>满千减百 最后一天</em>
							</a>
						</li>
					</ul>
				</div>
				<div class="title">
					<em>生活助手</em>
				</div>
				<div class="life">
					<div class="bg"></div>
					<div class="list">
						<ul>
							<li>
								<a href="">
									<i></i>
									充话费
								</a>
							</li>
							<li>
								<a href="">
									<i></i>
									充话费
								</a>
							</li>
							<li>
								<a href="">
									<i></i>
									充话费
								</a>
							</li>
							<li>
								<a href="">
									<i></i>
									充话费
								</a>
							</li>
							<li>
								<a href="">
									<i></i>
									充话费
								</a>
							</li>
							<li>
								<a href="">
									<i></i>
									充话费
								</a>
							</li>
							<li>
								<a href="">
									<i></i>
									消费贷款
								</a>
							</li>
							<li>
								<a href="">
									<i></i>
									消费贷款
								</a>
							</li>
							<li>
								<a href="">
									<i></i>
									消费贷款
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 第一屏结束 -->
	<!-- activityEnter开始 -->
	<div class="activityEnter">
		<ul>
			<li><a href=""><img src="images/activityEnter-01.png" alt=""></a></li>
			<li><a href=""><img src="images/activityEnter-02.jpg" alt=""></a></li>
			<li><a href=""><img src="images/activityEnter-03.jpg" alt=""></a></li>
			<li><a href=""><img src="images/activityEnter-04.jpg" alt=""></a></li>
			<li><a href=""><img src="images/activityEnter-04.jpg" alt=""></a></li>
			<li><a href=""><img src="images/activityEnter-04.jpg" alt=""></a></li>
			<li><a href=""><img src="images/activityEnter-04.jpg" alt=""></a></li>
			<li><a href=""><img src="images/activityEnter-04.jpg" alt=""></a></li>
			<li><a href=""><img src="images/activityEnter-04.jpg" alt=""></a></li>
			<li><a href=""><img src="images/activityEnter-04.jpg" alt=""></a></li>
			<li><a href=""><img src="images/activityEnter-04.jpg" alt=""></a></li>
			<li><a href=""><img src="images/activityEnter-04.jpg" alt=""></a></li>
		</ul>
		<a href="" class="angle-btn prev-btn" style="opacity: 0.6;"></a>
		<a href="" class="angle-btn next-btn" style="opacity: 0.6;"></a>
	</div>
	<!-- activityEnter开始 -->
	<!-- 第二屏开始 -->
	<div class="second-srceen w">
		
			<div class="title">
				<h3>特色馆</h3>
				<h4>woshixuyu,wulala~</h4>
			</div>
			<div class="col1">
				<a href=""><img src="images/temai1.jpg" alt=""></a>
			</div>
			<ul class="col2">
				<li class="item0"></li>
				<li class="item1">
					<a href=""><img src="images/item1.jpg" alt=""></a>
				</li>
				<li class="item2">
					<a href=""><img src="images/item2.jpg" alt=""></a>
				</li>
			</ul>
			<div class="col3">
				<span class="line1"></span>
				<span class="line2"></span>
				<ul>
					<li class="item1">
						<a href=""><img src="images/col3-1.jpg" alt=""></a>
					</li>
					<li class="item2">
						<a href=""><img src="images/col3-2.jpg" alt=""></a>
					</li>
					<li class="item3">
						<a href=""><img src="images/col3-3.jpg" alt=""></a>
					</li>
					<li class="item4">
						<a href=""><img src="images/col3-4.jpg" alt=""></a>
					</li>
				</ul>
			</div>
			<ul class="col4">
				<li><a href=""><img src="images/col4-1.jpg" alt=""></a></li>
				<li><a href=""><img src="images/col4-2.jpg" alt=""></a></li>
				<li><a href=""><img src="images/col4-3.jpg" alt=""></a></li>
				<li><a href=""><img src="images/col4-4.jpg" alt=""></a></li>
			</ul>
	</div>
	<!-- 第二屏结束 -->
	<!-- 第三屏开始 -->
	<div class="three-screen w">
		<div class="title">
			<h3>放心去喜欢</h3>
		</div>
		<div class="feature-enter">
			<a href=""><img src="images/feature-big-01.jpg" alt=""></a>
			<a href=""><img src="images/feature-big-02.jpg" alt=""></a>
		</div>
		<ul class="feature-list">
			<li>
			    <a href=""><img src="images/feature01.jpg" alt=""></a>
			</li>
			<li>
			    <a href=""><img src="images/feature02.jpg" alt=""></a>
			</li>
			<li>
			    <a href=""><img src="images/feature03.jpg" alt=""></a>
			</li>
			<li>
			    <a href=""><img src="images/feature04.jpg" alt=""></a>
			</li>
			<li>
			    <a href=""><img src="images/feature01.jpg" alt=""></a>
			</li>
			<li>
			    <a href=""><img src="images/feature02.jpg" alt=""></a>
			</li>
			<li>
			    <a href=""><img src="images/feature03.jpg" alt=""></a>
			</li>
			<li>
			    <a href=""><img src="images/feature04.jpg" alt=""></a>
			</li>
		</ul>
	</div>
	<!-- 第三屏结束 -->
	<!-- 1F开始 -->
	<div class="fool1 w">
		<div class="floor-head">
			<div class="title">
				<h3>
					<b>1F</b>服饰百货
				</h3>
			</div>
			<ul class="tab">
				<li class="on">
					<a href="">
						<i></i>
						<em>热门活动</em>
					</a>
				</li>
				<li class="">
					<a href="">
						<i></i>
						<em>猜你喜欢</em>
					</a>	
				</li>
			</ul>
			<div class="links">
				<a href="">连衣裙</a>
				<a href="">半身裙</a>
				<a href="">蓬蓬裙</a>
				<a href="">吊带裙</a>
				<a href="">包臀裙</a>
				<a href="">公主裙</a>
				<a href="">运动裙</a>
				<a href="">森女裙</a>
			</div>
		</div>
		<div class="fool-main">
			<div class="side">
				<a href="">
					<img src="images/fool-main-side.jpg" alt="">
				</a>
				<div class="entrances">
					<a href="">
						<span class="bg"></span>
						<i></i>
						<em>服装城</em>
					</a>
					<a href="">
						<span class="bg"></span>
						<i></i>
						<em>服装城</em>
					</a>
					<a href="">
						<span class="bg"></span>
						<i></i>
						<em>服装城</em>
					</a>
					<a href="">
						<span class="bg"></span>
						<i></i>
						<em>服装城</em>
					</a>
				</div>
				<ul class="brands">
					<li class="item1">
						<a href="">
							<img src="images/brands01.jpg" alt="">
						</a>
					</li>
					<li class="item2">
						<a href="">
							<img src="images/brands02.jpg" alt="">
						</a>
					</li>
					<li class="item3">
						<a href="">
							<img src="images/brands02.jpg" alt="">
						</a>
					</li>
					<li class="item4">
						<a href="">
							<img src="images/brands01.jpg" alt="">
						</a>
					</li>
					<li class="item5">
						<a href="">
							<img src="images/brands01.jpg" alt="">
						</a>
					</li>
					<li class="item6">
						<a href="">
							<img src="images/brands02.jpg" alt="">
						</a>
					</li>
				</ul>
			</div>
			<!-- tab切第一组 -->
			<div class="main-col">
				<div class="col1">
					<a href=""><img src="images/fool1-tab1-col1.jpg" alt=""></a>
				</div>
				<ul class="col2">
					<li>
						<a href=""><img src="images/fool1-tab1-col2-01.jpg" alt=""></a>
					</li>
					<li>
						<a href=""><img src="images/fool1-tab1-col2-02.jpg" alt=""></a>
					</li>
					<li>
						<a href=""><img src="images/fool1-tab1-col2-03.jpg" alt=""></a>
					</li>
					<li>
						<a href=""><img src="images/fool1-tab1-col2-04.jpg" alt=""></a>
					</li>
				</ul>
				<ul class="col3">
					<li>
					<a href=""><img src="images/fool1-tab1-col3-01.jpg" alt=""></a>
					</li>
					<li>
					<a href=""><img src="images/fool1-tab1-col3-02.jpg" alt=""></a>
					</li>
					<li>
					<a href=""><img src="images/fool1-tab1-col3-03.jpg" alt=""></a>
					</li>
				</ul>
			</div>
			<!-- tab切第二组 -->
			<div class="main-col" style="display: none;">
				<ul class="prd-list">
					<li>
						<p class="face">
							<a href=""><img src="" alt="images/fool1-tab2-01.jpg"></a>
						</p>
						<p class="name"><a href="">声缎 短袖短裤两件套装</a></p>
						<p class="price">
							<i>￥</i>
							<span>
								<b></b>".00"
							</span>
						</p>
					</li>
					<li>
						<p class="face">
							<a href=""><img src="" alt="images/fool1-tab2-01.jpg"></a>
						</p>
						<p class="name"><a href="">声缎 短袖短裤两件套装</a></p>
						<p class="price">
							<i>￥</i>
							<span>
								<b></b>".00"
							</span>
						</p>
					</li>
					<li>
						<p class="face">
							<a href=""><img src="" alt="images/fool1-tab2-01.jpg"></a>
						</p>
						<p class="name"><a href="">声缎 短袖短裤两件套装</a></p>
						<p class="price">
							<i>￥</i>
							<span>
								<b></b>".00"
							</span>
						</p>
					</li>
					<li>
						<p class="face">
							<a href=""><img src="" alt="images/fool1-tab2-01.jpg"></a>
						</p>
						<p class="name"><a href="">声缎 短袖短裤两件套装</a></p>
						<p class="price">
							<i>￥</i>
							<span>
								<b></b>".00"
							</span>
						</p>
					</li>
					<li>
						<p class="face">
							<a href=""><img src="" alt="images/fool1-tab2-01.jpg"></a>
						</p>
						<p class="name"><a href="">声缎 短袖短裤两件套装</a></p>
						<p class="price">
							<i>￥</i>
							<span>
								<b></b>".00"
							</span>
						</p>
					</li>
				</ul>
				<ul class="prd-list">
					<li>
						<p class="face">
							<a href=""><img src="" alt="images/fool1-tab2-01.jpg"></a>
						</p>
						<p class="name"><a href="">声缎 短袖短裤两件套装</a></p>
						<p class="price">
							<i>￥</i>
							<span>
								<b></b>".00"
							</span>
						</p>
					</li>
					<li>
						<p class="face">
							<a href=""><img src="" alt="images/fool1-tab2-01.jpg"></a>
						</p>
						<p class="name"><a href="">声缎 短袖短裤两件套装</a></p>
						<p class="price">
							<i>￥</i>
							<span>
								<b></b>".00"
							</span>
						</p>
					</li>
					<li>
						<p class="face">
							<a href=""><img src="" alt="images/fool1-tab2-01.jpg"></a>
						</p>
						<p class="name"><a href="">声缎 短袖短裤两件套装</a></p>
						<p class="price">
							<i>￥</i>
							<span>
								<b></b>".00"
							</span>
						</p>
					</li>
					<li>
						<p class="face">
							<a href=""><img src="" alt="images/fool1-tab2-01.jpg"></a>
						</p>
						<p class="name"><a href="">声缎 短袖短裤两件套装</a></p>
						<p class="price">
							<i>￥</i>
							<span>
								<b></b>".00"
							</span>
						</p>
					</li>
					<li>
						<p class="face">
							<a href=""><img src="" alt="images/fool1-tab2-01.jpg"></a>
						</p>
						<p class="name"><a href="">声缎 短袖短裤两件套装</a></p>
						<p class="price">
							<i>￥</i>
							<span>
								<b></b>".00"
							</span>
						</p>
					</li>
				</ul>
				<ul class="prd-list"></ul>
			</div>
		</div>
	</div>
	<!-- 1F结束 -->
	<!-- 2F开始 -->
	<div class="fool2 w">
		<div class="floor-head">
			<div class="title">
				<h3>
					<b>F9</b>
					美妆个护
				</h3>
			</div>
			<ul class="floor-tab">
				<li class="on">
					<a href="javascript:void(0);">
						<em class="hover-font">热门活动</em>
					</a>
					<span class="up-arrow"></span>
				</li>
				<li>
					<a href="javascript:void(0);">
						<em class="hover-font">面部护理</em>
					</a>
					<span class="up-arrow"></span>
				</li>
				<li>
					<a href="javascript:void(0);">
						<em class="hover-font">个人护理</em>
					</a>
					<span class="up-arrow"></span>
				</li>
				<li>
					<a href="javascript:void(0);">
						<em class="hover-font">香氛彩妆</em>
					</a>
					<span class="up-arrow"></span>
				</li>
				<li>
					<a href="javascript:void(0);">
						<em class="hover-font">精选面膜</em>
					</a>
					<span class="up-arrow"></span>
				</li>
			</ul>
		</div>
		<div class="floor-main">
			<!-- 左侧广告 -->
			<div class="side">
				<a href="" class="side-img">
					<img src="images/side-img.png" alt="">
				</a>
				<ul class="entrances">
					<li><a href=""><i></i><em>美妆特卖频道</em></a></li>
					<li><a href=""><i></i><em>美妆试用频道</em></a></li>
				</ul>
				<div class="hot-word">
					<div>
						<a href="">沐浴露</a>
						<a href="">洗发水</a>
						<a href="">沐浴露</a>
						<a href="">洗发水</a>
						<a href="">沐浴露</a>
						<a href="">洗发水</a>
						<a href="">沐浴露</a>
						<a href="">洗发水</a>
					</div>
					<div class="right">
						<a href="">沐浴露</a>
						<a href="">洗发水</a>
						<a href="">沐浴露</a>
						<a href="">洗发水</a>
						<a href="">沐浴露</a>
						<a href="">洗发水</a>
						<a href="">沐浴露</a>
						<a href="">洗发水</a>
					</div>
				</div>	
			</div>
			<!-- 右侧广告 -->
			<div class="main-cont g-tab-list">
				<div class="slider2">
					<ul class="slider01">
						<li><a href=""><img src="images/slider01-01.jpg" alt=""></a></li>
						<li><a href=""><img src="images/slider01-02.jpg" alt=""></a></li>
						<li><a href=""><img src="images/slider01-03.jpg" alt=""></a></li>
					</ul>
				</div>
				<ul class="col5">
					<li><a href=""><img src="images/col5-01.jpg" alt=""></a></li>
					<li><a href=""><img src="images/col5-02.jpg" alt=""></a></li>
				</ul>
				<ul class="col6">
					<li class="pic1"><a href=""><img src="images/col6-pic1-01.jpg" alt=""></a></li>
					<li class="pic2"><a href=""><img src="images/col6-pic2-01.jpg" alt=""></a></li>
				</ul>
				<ul class="col6">
					<li class="pic1"><a href=""><img src="images/col6-pic1-02.jpg" alt=""></a></li>
					<li class="pic2"><a href=""><img src="images/col6-pic2-02.jpg" alt=""></a></li>
				</ul>
			</div>
			
		</div>
	</div>
	<!-- 2F结束 -->
	<!-- 兜兜社区开始 -->
	<div class="w floor-zone">
		<div class="floor-zone-head">
			<h3>兜兜社区</h3>
		</div>
		<div class="floor-zone-main">
			<div class="entrances">
				<div class="head"></div>
				<ul class="main">
					<li><a href=""><i class="fa fa-tv"></i>全部板块</a></li>
					<li><a href=""><i class="fa fa-tv"></i>官方专区</a></li>
					<li><a href=""><i class="fa fa-tv"></i>母婴美妆</a></li>
					<li><a href=""><i class="fa fa-tv"></i>享易购</a></li>
					<li><a href=""><i class="fa fa-tv"></i>酷玩专区</a></li>
					<li><a href=""><i class="fa fa-tv"></i>版务大厅</a></li>
				</ul>
			</div>
			<div class="hots-and-share">
				<div class="hots-and-share-main">
					<div class="hots-and-share-item">
						<!-- 最热度 -->
						<div class="hots">
							<div class="hots-prom">
								<a href="">
									<img src="images/hots01.jpg" alt="">
								</a>
							</div>
							<div class="hots-items">
								<h4>最热度</h4>
								<ul class="item-list">
									<li>
										<span></span>
										<a href="">【辣妈酷娃】有种快乐 非宝莫属</a>
									</li>
									<li>
										<span></span>
										<a href="">【辣妈酷娃】有种快乐 非宝莫属</a>
									</li>
									<li>
										<span></span>
										<a href="">【辣妈酷娃】有种快乐 非宝莫属</a>
									</li>
									<li>
										<span></span>
										<a href="">【辣妈酷娃】有种快乐 非宝莫属</a>
									</li>
									<li>
										<span></span>
										<a href="">【辣妈酷娃】有种快乐 非宝莫属</a>
									</li>
									<li>
										<span></span>
										<a href="">【辣妈酷娃】有种快乐 非宝莫属</a>
									</li>
									<li>
										<span></span>
										<a href="">【辣妈酷娃】有种快乐 非宝莫属</a>
									</li>
									<li>
										<span></span>
										<a href="">【辣妈酷娃】有种快乐 非宝莫属</a>
									</li>
								</ul>
							</div>
						</div>
						<!-- 晒单 -->
						<div class="share-orders">
							<h4>晒单</h4>
							<ul class="share-items">
								<li>
									<div class="face">
										<a href=""><img src="images/share-01.jpg" alt="">
										</a>
										<div class="name">
											<p class="name-text"></p>
										</div>
									</div>
									<dl class="detial">
										<dt>
											<img src="images/user-01.jpg" alt="">
											<span>心**</span>
										</dt>
										<dd>
											<a href="" title="白天她陪着孩子玩耍，讲故事，朗诵诗歌，当夜幕降临时她用轻轻小夜曲把孩子送入甜甜的梦乡。一个陪伴孩子快乐成长的小精灵。">白天她陪着孩子玩耍，讲故事，朗诵诗歌，当夜幕降临时她用轻轻小夜曲把孩子送入甜甜的梦乡。一个陪伴孩子快乐成长的小精灵。</a>
										</dd>
									</dl>
								</li>
								<li>
									<div class="face">
										<a href=""><img src="images/share-02.jpg" alt="">
										</a>
										<div class="name">
											<p class="name-text"></p>
										</div>
									</div>
									<dl class="detial">
										<dt>
											<img src="images/user-02.jpg" alt="">
											<span>心**</span>
										</dt>
										<dd>
											<a href="" title="白天她陪着孩子玩耍，讲故事，朗诵诗歌，当夜幕降临时她用轻轻小夜曲把孩子送入甜甜的梦乡。一个陪伴孩子快乐成长的小精灵。">白天她陪着孩子玩耍，讲故事，朗诵诗歌，当夜幕降临时她用轻轻小夜曲把孩子送入甜甜的梦乡。一个陪伴孩子快乐成长的小精灵。</a>
										</dd>
									</dl>
								</li>
							</ul>
						</div>
					</div>
					<div class="hots-and-share-item"></div>
					<div class="hots-and-share-item"></div>
				</div>
				<div class="banner-pager">
					<div class="black"></div>
					<ul class="pager">
						<li class="current"></li>
						<li></li>
						<li></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- 兜兜社区结束 -->
</body>
<script src="js/jquery-1.11.1.js"></script>
<script src="js/template-native.js"></script>
<script src="js/slider.js"></script>

 <script>

	$.ajax({
		type:"get",
		url:"index.php",
		data:{},
		success:function(data){
			var info = {
				pic:data
			}
			var html = template("tpl",info);		
            document.querySelector('.slider').innerHTML = html;
            $.showPic();             
		},
		error:function(){}
	});
</script>
<script type="text/template" id="tpl" >
	<% for(var i = 0;i<pic.length;i++){%>
	<li style="background: <%=pic[i].color %>">
		<a href="">
			<img src="<%= pic[i].src %>" alt="">					
		</a>
	</li>
	<% } %>
</script>
</html>